body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 0.8em;
  color: honeydew;
  background-color: black;
}

.mat-mdc-table {
  margin: 0;
}

.mat-mdc-paginator {
  width: 680px;
  min-width: 680px;
}

.mat-mdc-paginator-container {
  justify-content: start !important;
  background-color: black !important;
  color: gray;
  font-size: 1.8em;
}

.mat-mdc-paginator-page-size {
  align-items: center !important;
}

.mat-mdc-button, .mat-mdc-icon-button, .mat-mdc-outlined-button, .mat-mdc-unelevated-button {
  color: white;
  background: transparent;
}

.mat-mdc-button[disabled], .mat-mdc-icon-button[disabled], .mat-mdc-outlined-button[disabled], .mat-mdc-unelevated-button[disabled] {
  color: gray;
  background: transparent;
}

/*.mat-paginator-page-size-select {*/
/*  margin: 0 0 0 5px !important;*/
/*}*/
/*TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
.mat-mdc-form-field-appearance-fill .mat-mdc-form-field-flex {
  color: white !important;
  padding: 0 !important;
}
